@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Oswald";
  font-weight: 900;
}
.oswald {
  font-family: "Oswald";
}